<div class="card-header" xmlns:th="http://www.w3.org/1999/xhtml">
    <h3>Editar Autor</h3>
</div>

<div class="card-body">

    <div class="form-group">
        <label>Nombre</label>
        <input th:field="*{nombre}" type="text" class="form-control" placeholder="Digite el nombre del autor :" required/>
    </div>// porque no me toma el th:field aca y en editar libro si?

    <div class="form-group">
        <label>Apellido</label>
        <input th:field="*{apellido}" type="text" class="form-control" placeholder="Digite el apellido del autor :" required/>
    </div>

    <div class="form-group">
        <label>Año de Nacimiento</label>
        <input th:field="*{añoNacimiento}" type="text" class="form-control" placeholder="Digite el año de nacimiento :" required/>
    </div>

    <div class="form-group">
        <label>Lugar de Nacimiento</label>
        <input th:field="*{lugarNacimiento}" type="text" class="form-control" placeholder="Digite el lugar de nacimiento  :" required/>
    </div>

</div>

<div class="card-footer">
    <input type="submit" value="Guardar" class="btn btn-success"/>
    // aca agrego el boton de eliminar?
    <td>
        <a th:href="@{/editar/}+${autor.id}" class="btn btn-info"><i class="bi bi-person-exclamation"></i> Editar</a>
        <a th:href="@{/eliminar/{id}(id=${autor.id})}" class="btn btn-danger"><i class="bi bi-person-x"></i> Eliminar</a>
    </td>
</div>
</div>

</form>
</div>

</div>

</body>
</html>