<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Lista de Autores</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body background="fondo.jpg">

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" th:href="@{/home}"><i class="bi bi-card-checklist"></i> Inicio </a>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/libros}"><i class="bi bi-person-fill-check"></i>Lista de libros</a>
            </li>//aca tendria que redirigirme al html de libros
        </ul>


            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/nuevoLibro}"><i class="bi bi-person-fill-add"></i> Registrar libro</a>
                </li>
            </ul>
    </div>

    <div class="text-end">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/nuevoAutor}"><i class="bi bi-person-fill-add"></i> Registrar autor</a>
            </li>
        </ul>
        </div>
</nav>

<div class="container">
    <div th:if="${msgExito != null}" class="alert alert-success alert-dismissible">
        [[${msgExito}]]
        <button type="button" class="btn btn-close" data-bs-dismiss="alert"></button>
    </div>

    <br>

    <div class="container">
        <div class="row">
            <h1 style="text-align:center" class="p-3 mb-2 bg-success bg-gradient text-white"><i class="bi bi-person-lines-fill"></i><em> Lista de autores </em> <i class="bi bi-person-lines-fill"></i></h1>
        </div>


        <br>

<div class="container mt-4">
    <a th:href= "@{/nuevoAutor}" class="btn btn-info"><i class="bi bi-person-exclamation"></i>Agregar Autor</a>

</div>
    </div>

    <br>
    <table class="table" margin="center">
        <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th>FECHA DE NACIMIENTO</th>
            <th>LUGAR DE NACIMIENTO</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="autor:${autores}">
            <td th:text="${autor.id}">ID</td>
            <td th:text="${autor.autor_nombre}">NOMBRE</td>
            <td th:text="${autor.autor_apellido}">APELLIDO</td>
            <td th:text="${autor.fecha_nacimiento_autor}">FECHA DE NACIMIENTO</td>
            <td th:text="${autor.lugar_nacimiento_autor}">LUGAR DE NACIMIENTO</td>

            <td>
                <a th:href="@{/editar/}+${autor.id}" class="btn btn-info"><i class="bi bi-person-exclamation"></i> Editar</a>
                <a th:href="@{/eliminar/{id}(id=${autor.id})}" class="btn btn-danger"><i class="bi bi-person-x"></i> Eliminar</a>

                <form th:action="@{/eliminar/{id}(id=${autor.id})}" method="post"></form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <!-- Función js -->
    <script>
                function eliminarAutor(elemento){
                var ok = confirm('Si no hay registros previos de libros con este autor, ¿Estás seguro de eliminar el autor?');

                if(ok){
                elemento.nextElementSibling.submit();
                }
              }
           </script>

</body>
</html>
